{%extends 'main/base.html'%}
{%block content%}

<h1 class="text-center">French Flag Algorithm!</h1><br>
<div class="text-center">
    {% if result %}
    <h1>{{result|linebreaks}}</h1><br><br><br>
    {%endif%}
</div>
<form method="post">
    {% csrf_token %}
    Enter array (comma between) <input type="text" max_length=None required=True name="arr"><br><br>
    <button type="submit">Submit</button>
</form>
<br><br><br>
<h5>The French flag algorithm sorts the numbers given by the user into 3 groups of numbers to refer to the
    to the 3 colors of the French flag.</h5>.





{%endblock%}