{%extends 'main/base.html'%}
{%block content%}

<h1 class="text-center">Sort by choice!</h1><br>
<div class="text-center">
    {% if result %}
    <h1>{{result|linebreaks}}</h1><br><br><br>
    {%endif%}
</div>
<form method="post">
    {% csrf_token %}
    Enter array (comma between) <input type="text" max_length=None required=True name="arr"><br><br>
    <button type="submit">Submit</button>
</form>
<br><br><br>
<h5>The sort-by-choice algorithm involves searching for an element to be in the desired position and
    swapping places with the one currently there. </h5>





{%endblock%}